<!doctype html>
<html lang="en">
  <head>
    <style>
        h2 {text-align: center;}
        div {text-align: center;}
    </style>
    <title>Delete Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body style="background-color:rgb(165, 56, 56)">
    <div class="container">
        <h2 class="mt-5">Sacrifice A Movie...</h2>

        <!-- Add Movie Form -->
        <form action="{{ url_for('delete_movie') }}" method="post" class="mb-4">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Movie Title:</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Verbatim e.g. 'TRON: Legacy'" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete Movie</button>
                <a href="/" class="btn btn-secondary ml-2">Back to Home</a>
            </div>
        </form>
    </div>
  <center>
    <img src="{{ url_for('static', filename='fire.png') }}" alt="Flames" >
  </center>
  </body>
</html>
